extends /jade/layouts/header-layout.jade

//- Buttons on the app bar. Keep the number low.
block app-bar-actions
	section.app-bar-actions
		//- Put App Bar Buttons Here
		button
			i.icon.icon-star

//- Navigation links.
block navdrawer-list
	ul
		li
			a(href="") Some stuff
		li
			a(href="") Something else
		li
			a(href="styleguide.html") Style Guide