doctype html
html
	head
		include /jade/includes/_head

	body

		//- Header
		include /jade/includes/_header

		main.container
			div.clear
				div.g-wide--half
					h2 This is the main content of the page.
					p <strong>1.</strong> Bacon ipsum dolor amet swine ut ham ball tip cupim pork loin laboris dolore ribeye andouille landjaeger sed veniam. Duis ipsum kielbasa, sed irure pork loin t-bone cupidatat. In shoulder magna, sirloin corned beef anim dolore tongue pig kielbasa pancetta eu mollit. Jerky brisket excepteur ball tip strip steak shank drumstick bresaola deserunt adipisicing magna hamburger. Bresaola short ribs chuck turducken in swine sunt short loin shoulder in porchetta pancetta. Veniam nostrud sirloin consequat landjaeger.
				div.g-wide--half.g--last
					p <strong>2.</strong> Deserunt tongue ea fatback pork ut, frankfurter hamburger sunt ribeye ipsum bacon cupidatat incididunt. Reprehenderit pork loin velit, ut cow shank beef ribs cillum dolor boudin. Occaecat nulla magna, aute fugiat aliquip deserunt. Pork belly minim sirloin, elit enim brisket laboris.
					p Nulla tail nisi officia tri-tip ad kevin ullamco consequat ham hock. Id fugiat sausage ipsum ut consectetur bacon beef ribs swine voluptate veniam ribeye pork loin ea velit. Pastrami tongue qui, chicken flank turkey biltong laborum. Ground round pastrami leberkas, meatloaf kielbasa salami jowl nostrud ut voluptate brisket irure. Swine et pig ad ea pastrami.
			div.clear
				p <strong>3.</strong> Boudin cupim quis flank. Ut in hamburger veniam swine. Dolore tenderloin prosciutto t-bone short loin officia pariatur kevin kielbasa adipisicing. Brisket in sausage nulla shankle adipisicing aliquip ball tip dolore ipsum sirloin ex cow consectetur cillum.
				p Elit consequat et sunt ground round duis ipsum leberkas. Pork chop in pork exercitation quis, cupim salami elit consectetur commodo. Venison corned beef consectetur qui cupim sausage porchetta occaecat ut nisi dolore in short loin officia et. In ipsum elit biltong ullamco brisket fugiat picanha irure pork ut cupidatat voluptate pork chop ut. Alcatra frankfurter ex boudin magna, sunt id shoulder pastrami velit pork chop enim ball tip filet mignon. Alcatra sausage pork chop, minim pastrami chuck porchetta commodo.

		//- Footer
		include /jade/includes/_footer

		//- Scripts
		include /jade/includes/_scripts