block title
	title Default title

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")

//- Use this for the meta tag of name "description".
block descr
	
meta(name="viewport", content="width=device-width, initial-scale=1")

//- Jquery
//- script(src="http://code.jquery.com/jquery-2.1.4.min.js")

// Styles
link(rel="stylesheet", type="text/css", href="/styles/main.css")
//- Include any further stylesheets here.
block	styles
