//- WSK header and navigation

header.app-bar
	div.app-bar-container
		block menu-button
			button.menu
				img(src="images/hamburger.svg", alt="Menu")
		h1.logo Rebel & Bird <strong>Starter Kit</strong>
		block app-bar-actions

nav.navdrawer-container
	h4 Navigation
	block navdrawer-list